<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <title>Rock, paper, scissors game</title>
  </head>
  <body>
    <nav>
      <url>
        <li><a href="/">home</a></li>
    <h1> </h1>
     <%= yield %>
    <h2> </h2>
  </body>
</html>
